$teal: #47A9C4;
$alertred: #C94F4F;
$successgreen: #A4D654;
$buttongreen: #A4D654;

body {
	font-family: sans-serif;
	min-width: 720px;
}

.header {
	background-color: #f8f8f8;
	height: 50px;
	font-weight: 200;
	position: relative;
	overflow: visible;
		
	.appname {
		font-size: 18px; 
		font-weight: 400;
		color: #333;
		padding: 16px;
		margin-left: 50px;
		display: inline-block;
		
	}
	
	.circle {
		background-color: $teal;
		display: block;
		width: 32px;
		line-height: 30px;
		height: 30px;
		font-size: 18px;
		padding-top: 2px;
		text-align: center;
		border-radius: 50%;
		color: #fff;
		position: absolute;
		top: 7px;
		left: 24px;
	}
	
	.prettybar {
		height: 6px;
		background-color: #f3f3f3;
		position: absolute;
		bottom: 0px;
		z-index: 1;
		width: 100%;
	}
	
	ul.topnav {
		float: right;
		display: inline-block;
		color: #666;
		right: 10px;
		top: 0;
		position: absolute;
		
		li {
			font-weight: 200;
			font-size: 14px;
			line-height: 18px;
			vertical-align: center;
			display: inline-block;
			margin-right: 8px;
			position: relative;
			z-index: 200;
			
			&.greeting {
				margin-right: 20px;
			}
			
			a {
				font-weight: 100;
				width: 60px;
				text-align: center;
				text-decoration: none;
				padding: 15px 10px 11px;
				display: block;				
				background-color: #666;
				border-bottom: 6px solid #333;
				color: #fff;
				
				&:active, &:hover {
					color: #eee;
					border-bottom: 6px solid #FFAC00;
					background-color: #777;
				}
			}
		}
	}
}

.sidenav {
	font-weight: 200;
	font-size: 14px;
	width: 240px;
	margin: 25px;
	float: left;
	
	.contact-msg {
		font-size: 13px;
		color: #666;
	}
	
	ul {
		margin-bottom: 10px;
		border: 1px solid #eee;
		
		li {
			border-bottom: 1px solid #ddd;
			
			a {
				padding: 10px;
				display: block;
				
				&:hover, &:active {
					color: #FFAC00;
				}
			}
			
			&.item-header {
				border: none;
				background-color: #eee;
				padding: 5px 10px;
				color: #666;
			}
			
			&.nextexec {
				background-color: #F0E7D1;
			}
			&.deskworker {
				background-color: #E3F0D1;
			}
			&.spacer {
				height: 10px;
			}
		}
	}
}

.content {
	margin-left: 290px;
	padding: 25px;
	font-weight: 200;
	
	h1 {
		font-size: 30px;
		font-weight: 400; 
		margin-bottom: 5px;
	}
	
	h2 {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 30px;
		font-weight: 400;
	}
	
	p {
		font-size: 14px;
		line-height: normal;
		margin-bottom: 20px;
		
		a {
			color: $teal;
		}
		em {
			font-weight: 500;
		}
	}
	.todo {
		background-color: #FFECDE;
		color: #222;
		padding: 10px;
		border-radius: 3px;
		font-weight: 200;
		font-size: 14px;
		display: inline-block;
		line-height: normal;
		margin-bottom: 20px;
		
		em {
			font-weight: 600;
		}
	}
	input {
		display: block;
		min-width: 160px;
		margin-top: 5px;
		margin-right: 10px;
	}
	table {
		text-align: left;
	}
	ul {
		margin-bottom: 20px;
		border-top: 1px solid #ddd;
		
		li {
			border-bottom: 1px solid #ddd;
			position: relative;
			
			a.file, &.reservation {
				display: block;
				padding: 10px;
			}
			a.remove {
				display: inline;
				float: right;
				position: absolute;
				top: 0;
				right: 0;
				color: #ddd;
				padding: 10px;
				
				&:hover {
					background-color: $alertred;
					cursor: pointer;
				}
			}
			&:hover {
				background-color: #f3f3f3;
			}
			
		}
	}
	
	.email-special {
		p {
			line-height: 20px;
		}
		h2 {
			color: #ccc;
		}
	}
}

.room-reserve {
	margin-bottom: 20px;
	
	td {
		min-width: 100px;
	}
	
	input {
	&.time {
		display: inline;
		width: 100px;
		min-width: 100px;
	}
}
}


input[type="text"], input[type="password"] {
	border: 1px solid #ccc;
	padding: 5px;
	outline: none;
	&:focus {
		border: 1px solid #FFAC00;
		
	}
}

input[type="submit"] {
	font-family: sans-serif;
	font-weight: 200;
	font-size: 14px;
	padding: 7px;
	color: #fff;
	background-color: $buttongreen;
	border: none;
	border-radius: 5px;	

	&:hover {
		background-color: #94C447;
		cursor: pointer;
	}
}

fieldset {
	font-size: 14px;
	
	label {
		width: 140px;
		display: inline-block;
	}
}

input[type="date"] {
	display: inline;
}

input[type="file"] {
	margin-bottom: 10px;
}

input[type="button"] {
	font-family: sans-serif;
	font-weight: 200;
	font-size: 14px;
	padding: 5px 12px;
	color: #333;
	background-color: #eee;
	width: 100px;
	border: none;
	display: inline;
	border-radius: 5px;	
    margin-right: 5px;
    
    &.slim {
    	font-size: 13px;
    }
    
    &.active {
    	background-color: #E3F0D1;
		&:hover {
    		background-color: #E3F0D1;
		}
    }
    
	&:hover {
		background-color: #ddd;
		cursor: pointer;
	}
}

textarea {
	border: 1px solid #ccc;
	padding: 5px;
	outline: none;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-style: sans-serif;
	&:focus {
		border: 1px solid #FFAC00;
		
	}
}

// In case the user does not have HTML5 Date input
.nodate {
	font-size: 14px;
	color: #aaa;
	display: block;
}

table {
	tr {
		td {
			vertical-align: middle;
			padding-right: 10px;
			font-size: 14px;
		}
	}
}

.alerttext {
	margin-top: 10px;
	color: $alertred;
}

.error-msg {
	font-size: 14;
	line-height: normal;
	color: $alertred;
	margin-bottom: 10px;
}

.success-msg {
	color: $successgreen;
	margin-bottom: 10px;
}

.invalid {
	color: #E0BABA;
	opacity: 0.6;
}

.displaytable {
	tr {
	    background-color: #fff;
	    
		&:nth-child(even) {
		background-color: #E4F4F5;
		}
		td {
			padding: 5px 20px 5px 5px;
			min-width: 100px;
			
		}
		th {
			background-color: #333;
			color: #ccc;
			padding: 3px 6px;
			font-size: 12px;
			font-weight: 500;
		}
		.invalid-blur {
			color: transparent;
			text-shadow: 0 0 5px rgba(0,0,0,0.5);
		}
		.empty {
			opacity: 0.2;
		}
	}
}

.calendarIframe {
	margin-top: 25px;
}

.manage-reservations {
	margin-top: 10px;
	
	.deny-reservation {
		background-color: $alertred;
		&:hover {
			cursor: pointer;
		}
	}
	textarea {
		height: 30px;
	}
	li {
		padding: 2px;
	}
}