body, html, .main {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 7vh;
  position: fixed;
  color: #fff;
  padding: 20px 40px;
  top: 0px;
  background-color: rgba(0,0,0,0.6);
  display: none;
  z-index: 3;
}

h2 {
  bottom: 0px;
  font-family: sans-serif;
  font-size: 5vh;
  position: fixed;
  color: #fff;
  padding: 20px 40px;
  text-shadow: 0 0 5px #000000;
  line-height: normal;
  z-index: 2;
  display: none;
}

em {
  font-style: normal;
  font-weight: 800;
  color: #fff;
}

img {
  display: none;
}

.main {
  background-repeat: repeat;
  background-size: 30%;
  display: none;
  z-index: 1;
}
