body, html, .main {
  height: 100%;
  width: 100%; }

h1 {
  font-family: sans-serif;
  font-size: 7vh;
  position: fixed;
  bottom: 0px;
  color: #fff;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.6); }

em {
  font-style: normal;
  font-weight: 800;
  color: #fff; }

img {
  display: none; }

.main {
  background-repeat: repeat;
  background-size: 30%; }
