<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="main">
      {{> navigation}}
      <div class="content">
        {{#if error}}
        <div class="error-msg">{{error}}</div>
        {{else}}
        {{#if success}}
        <div class="success-msg">{{success}}</div>
        {{/if}}
        {{#each warnings}}
        <div class="warning-msg">{{this}}</div>
        {{/each}}
        {{/if}}
        {{#if user}}
        {{> content}}
        {{else}}
        <h1>Log in to see interesting things</h1>
        {{/if}}
      </div>
    </div>
  </body>
</html>
