<!-- <html>
login, baby <br />
<form method="post" action="login">
username: <input type="text" name='username' /><br />
password: <input type="password" name='password' />
<input type="submit">
</form>

create user dude<br />
<form method="post" action="signup">
first name: <input type='text' name='firstName' /><br />
last name: <input type='text' name='lastName' /><br />
kerberos: <input type='text' name='kerberos' /><br />
password: <input type='password' name='password' />
<input type='submit' />
</form>
</html> -->
<html>
  <head>
    <title>Next Resident Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="header">
      <span class="circle">N</span>
      <div class="appname">
        Next Resident Dashboard
      </div>
      <ul class="topnav">
        <li class="greeting">{{ user.firstName }} {{ user.lastName }}</li>
        <li><a href="">Help</a></li>
        {{#if user}}
        <li><a href="logout">Logout</a></li>
        {{else}}
        <li><a href="login">Login</a></li>
        {{/if}}
      </ul>
      <div class="prettybar"></div>
    </div>
    <div class="main">
      <div class="sidenav">
        <ul>
          <li class="item-header">Deskworker</li>
          <li><a href="">Search and View Guestlists</a></li>
        </ul>
        <ul>
          <li class="item-header">Front Desk</li>
          <li><a href="">Manage Your Guestlist</a></li>
        </ul>
        <ul>
          <li class="item-header">Account</li>
          <li><a href="">Next Mailing Lists</a></li>
          <li><a href="">Change Password</a></li>
        </ul>
        <ul>
          <li class="item-header">Admin</li>
          <li><a href="">Manage Users</a></li>
        </ul>
      </div>
      <div class="content">
        <h1>Log in to see interesting things</h1>
      </div>
    </div>
  </body>
</html>