<html>
login, baby <br />
<form method="post" action="login">
username: <input type="text" name='username' /><br />
password: <input type="password" name='password' />
<input type="submit">
</form>

create user dude<br />
<form method="post" action="signup">
first name: <input type='text' name='firstName' /><br />
last name: <input type='text' name='lastName' /><br />
kerberos: <input type='text' name='kerberos' /><br />
password: <input type='password' name='password' />
<input type='submit' />
</form>
</html>