<html>
	<head>
		<title>Next Resident Dashboard</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/peep.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
	<body>
    {{#if this.normandy}} 
      <img src='' />
    {{/if}}
    {{#if this.fishr}} 
      <img src='' />
    {{/if}}
    {{#if this.kyc2915}} 
      <img src='https://scontent-b-lga.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/s720x720/532427_10152365691310249_2082027468_n.jpg?oh=8e53d58e8daabdc14143e0e55032a000&oe=542C811D' />
    {{/if}}
	</body>
</html>
