<html>
	<head>
		<title>Next Resident Dashboard</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/peep.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.17/firebase.js'></script>
	</head>
	<body>
	  <h1></h1>
	  <h2></h2>
    <div class="main"></div>
    <script type="text/javascript">
      $(document).ready(function(){
        var ref = new Firebase('https://cqsubisdown.firebaseIO.com/');
        var res = '{{this.resident}}';
        ref.child('peeps/' + res).on('value', function(snapshot) {
          if (snapshot.val()) {
            $('h1').html('Sexy Residents of <em>Next House</em>');
            var img = snapshot.val().image;
            var quo = snapshot.val().quote;
            $('.main').css('background-image','url("' + img + '")');
            if (quo) {
              $('h2').html(quo + '<br /> - ' + res);
            }
          } else {
            ref.child('peeps/404').once('value', function(s) {
              $('h1').text('You seem lost');
              $('.main').css('background-image','url("' + s.val().image + '")');
            })
          }
        });
        
        var bgX = 0;
        window.setInterval(function(){++bgX;$('.main').css('background-position', bgX + 'px 0px')}, 20);
      });
    </script>
	</body>
</html>
