<html>
{{> head}}

<body class="content-wrapper">
    <section class="content-header">
        <h1>Reset Your Password</h1>
    </section>
    <section class="content">
        {{#if error}}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{{error}}}
        </div>
        {{/if}} {{#if success}}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{{success}}}
        </div>
        {{/if}}
        <form action="/auth/forgot" method="post">
            <p>Enter your <b>MIT kerberos username</b> (without @mit.edu). An email will be sent with password reset instructions.</p>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-8">
                <input type="text" id="kerberos" name="kerberos" class="form-control" placeholder="kerberos" onkeyup="checkInput(this)" required>
                </div>
                <div class="col-lg-2 col-md-3 col-xs-4">
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </div>
            </div>
        </form>
    </section>
</body>
{{> footer}}

</html>

<script>
var checkInput = function(s) { 
    s.value = s.value.toLowerCase().replace(/\@mit(\.edu)?/gi, ""); 
    $("button").prop("disabled", !validateKerberos(s.value))
};
var validateKerberos = function(k) {
    return /^[a-z0-9_]{1,8}$/i.test(k);
}
</script>
