body {
	font-family: sans-serif;
}
.header {
	background-color: #f8f8f8;
	height: 50px;
	font-weight: 200;
	
	.appname {
		font-size: 18px; 
		font-weight: 200;
		color: #333;
		padding: 16px;
		display: inline-block;
	}
	
	ul.topnav {
		float: right;
		display: inline-block;
		color: #666;
		margin-right: 10px;
		
		li {
			font-weight: 200;
			font-size: 14px;
			line-height: 18px;
			vertical-align: center;
			display: inline-block;
			margin-right: 8px;
			
			&.greeting {
				margin-right: 20px;
			}
			
			a {
				font-weight: 100;
				width: 60px;
				text-align: center;
				text-decoration: none;
				padding: 15px 10px 11px;
				display: block;				
				background-color: #666;
				border-bottom: 6px solid #333;
				color: #fff;
				
				&:active, &:hover {
					color: #eee;
					border-bottom: 6px solid #FFAC00;
					background-color: #777;
				}
			}
		}
	}
}