<h1>Search and View Guestlists</h1>
<div class="todo">Always verify the <em>full name and the kerberos</em> of the resident</div>
<p>
	<table>
		<tr>
			<td>Resident Lookup:</td>
			<td>Sort by:</td>
		</tr>
		<tr>
			<td><input type="text" placeholder="kerberos or full name" class="searchname" /></td>
			<td>
			  <input id="firstName" class="slim sort" type="button" value="First Name">
			  <input id="lastName" class="slim sort" type="button" value="Last Name">
			  <input id="kerberos" class="slim sort" type="button" value="Kerberos">
			</td>
		</tr>
	</table>
</p>
  <div class="error-msg" style="display: none">
  No records found.
  <p>
  	Suggest updating the resident's records, or verifying the resident's last name. <br />
  </p>
  </div>
<p>
  <table class="displaytable">
    <tr>
      <th width="100">Resident Kerb</th>
      <th>Name</th>
      <th>Guest 1 </th>
      <th>Guest 2</th>
      <th>Guest 3</th>
    </tr>
    {{#each result}}
	<tr>
	  <td>
	  	{{this.kerberos}} 
	  </td>
	  <td>
	    {{#if this.firstName}} 
	      {{this.firstName}} {{this.lastName}}
	    {{else}}
	      <span class="invalid">guestlist invalid</span>
	   	{{/if}}
	  </td>
	  <td>
	    {{#if this.guest1Kerberos}} 
	  	  {{this.guest1Name}} ({{this.guest1Kerberos}}) 		
	   	{{else}}
	   	  <span class="empty">empty</span>
	   	{{/if}}
	  </td>
	  <td>
	    {{#if this.guest2Kerberos}} 
	  	  {{this.guest2Name}} ({{this.guest2Kerberos}}) 		
	   	{{else}}
	   	  <span class="empty">empty</span>
	   	{{/if}}
	  </td>
	  <td>
	    {{#if this.guest3Kerberos}} 
	  	  {{this.guest3Name}} ({{this.guest3Kerberos}}) 		
	   	{{else}}
	   	  <span class="empty">empty</span>
	   	{{/if}}
	  </td>
	</tr>
  	{{/each}}
  </table>
</p>

<script type="text/javascript">
var sortBy = "kerberos";

$('.searchname').focus();

$('.sort').on('click', function(){
  $('.sort').attr('class', 'slim sort');
  $(this).attr('class', 'slim sort active');
  sortBy = $(this).attr('id');
  searchname = $('.searchname').val();
  
  updateList({ search: "resident", value: searchname, sort: sortBy });
  
});

$('.searchname').on('input', function(){
  searchname = $(this).val();
  updateList({ search: "resident", value: searchname, sort: sortBy });
})

var updateList = function(query){
	$.get("searchguestlist", query)
		.done(function( data ) {
		  // TODO: Refactor to use handlebar client, error last time tried.
		  if (data) {
		    $('.error-msg').hide();
		    $('.displaytable').show();
		    header = '<tr><th>Resident Kerb</th><th>Name</th><th>Guest 1 </th><th>Guest 2</th><th>Guest 3</th></tr>';
		    $('.displaytable').html(header + data);
		  } else {
		    $('.displaytable').hide();
		    $('.error-msg').show();
		  }
		})
		.fail(function(){
		    $('.error-msg').show();
		    $('.error-msg').html('A serious error has occured. Please contact vhung@mit.edu, or refresh the page');	
	});
}

// this is me trolling a little, yuta is putting in a fake name, so I'm invalidating his guestlists manually. we should put in a serious thing for this sometime.
$( "td:contains('Mike Trout')" ).parent().html('<td>dorayuta</td><td><span class="invalid">guestlist invalid</span></td><td>invalid</td><td>invalid</td><td>invalid</td>');

</script>