<h1>Search and View Guestlists</h1>
<p>
	<input type="text" placeholder="kerberos or full name"/>
</p>
<p>
  <table class="displaytable">
    <tr>
      <th width="240">Resident</th>
      <th>Guest 1 </th>
      <th>Guest 2</th>
      <th>Guest 3</th>
    </tr>
    {{#each result}}
	<tr>
	  <td>{{this.firstName}} {{this.lastName}} ({{this.kerberos}})</td>
	  <td>{{this.guest1Name}} ({{this.guest1Kerberos}})</td>
	  <td>{{this.guest2Name}} ({{this.guest2Kerberos}})</td>
	  <td>{{this.guest3Name}} ({{this.guest3Kerberos}})</td>
	</tr>
  	{{/each}}
  </table>
</p>

{{results}}