<h1>All Residents</h1>
<p>
	Mass Add: One kerberos per line
	<textarea></textarea>
</p>
<p>
	<form method="post" action="signup">
		Add Single User: <input type="text" name="kerberos"> <input type="submit">
	</form>
</p>
<p>
  <table class="displaytable">
    <tr>
      <th>Kerberos</th>
      <th width="240">Resident Name</th>
      <th>Role</th>
      <th>Remove</th>
    </tr>
    {{#each result}}
	<tr>
	  <td>{{this.kerberos}}</td>
	  <td>{{this.firstName}} {{this.lastName}}</td>
	  <td>{{this.group}}</td>
	  <td>x</td>
	</tr>
  	{{/each}}
  </table>
</p>

{{results}}