{{#if error}}
  <div class="error-msg">{{error}}</div>
{{/if}}
<h1>All Residents</h1>
<p>Fuck, this page is ugly. Fuck you Antonio. Don't look. I'm not done. </p>
<p>
	Mass Add: One kerberos per line
	<form method="post" action="allusers">
	<textarea name="massadd"></textarea>
	<input type="submit" value="Create">
	</form>
	<hr size="1" />
</p>
<!--
<p>
	<form method="post" action="signup">
		<p>Add Single User: <input type="text" name="kerberos"></p>
		<input type="submit">
	</form>
</p>
-->
<p>Fuck pagination, what even is a stonehenge.</p>
<p>
  <table class="displaytable">
    <tr>
      <th>Kerberos</th>
      <th width="240">Resident Name</th>
      <th>Room</th>
      <th>Role</th>
      <th>Remove</th>
    </tr>
    {{#each result}}
	<tr>
	  <td>{{this.kerberos}}</td>
	  <td>{{this.firstName}} {{this.lastName}}</td>
	  <td>{{this.roomNumber}}</td>
	  <td>{{this.name}}</td>
	  <td>x</td>
	</tr>
  	{{/each}}
  </table>
</p>

{{results}}
