
{{#if error}}
  <div class="error-msg">{{error}}</div>
{{/if}}
{{#if success}}
  <div class="success-msg">{{success}}</div>
{{/if}}
<h1>Application for Project Funding</h1>
<p></p>
<p>Please complete the following form to apply for funding. All are fields required.</p>
<form action='application' method='post'>
<p></p>
  <p>List group members (separated by commas):</p>
    <td><input type='text' name='responseField1' value='{{ this.response }}' /></td>
<p></p>
  <p>Brief description of project (100 words):</p>
    <td><textarea name='responseField2' rows="8" cols="75" value='{{ this.response }}'></textarea></td>
<p></p>
  <p>Why do you want funding for this project?</p>
    <td><textarea name='responseField3' rows="6" cols="75" value='{{ this.response }}'></textarea></td>
<p></p>
  <p>How will it benefit the community?</p>
    <td><textarea name='responseField4' rows="6" cols="75" value='{{ this.response }}'></textarea></td>
<p></p>
  <p>Number of people involved:</p>
    <td><input type='text' name='responseField5' value='{{ this.response }}' /></td>
<p></p>
  <p>Requested amount($):</p>
    <input type='text' name='responseField6' value='{{ this.response }}' />
<p></p>
  <p>Please outline cost breakdown:</p>
    <td><textarea name='responseField7' rows="8" cols="75" value='{{ this.response }}'></textarea></td>
<p></p>
<p>
<input type='submit' value='Submit'>
</p>

</form>
