<section class="content-header">
    <h1>
        Change your Password
        <small>We recommend something nice and secure.</small>
      </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Account</a></li>
        <li class="active">Change Password</li>
    </ol>
</section>

<section class="content">
    <form method="post" action="password">
        <div class="input-group col-lg-4 col-xs-12">
            <label> Current Password </label>
            <input name="oldpassword" type="password" class="form-control">
        </div>
        <br>
        <div class="input-group col-lg-4 col-xs-12">
            <label> New Password </label>
            <input name="newpassword" type="password" class="form-control">
        </div>
        <br>
        <div class="input-group col-lg-4 col-xs-12">
            <label> Confirm Password </label>
            <input type="password" name="confirmpassword" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-success pull-left">Update</button>
        <div class="alert alert-danger col-lg-6 col-xs-12" style="display: none">Your passwords don't match!</div>
    </form>
</section>

<script>
$('form').submit(function(event) {
    if ($('.confirmpassword').val() == $('.newpassword').val()) {
        return;
    }
    $(".alerttext").show()
    event.preventDefault();
});
</script>
