<h1>Change your password</h1>
<p>We recommend something nice and secure.</p>
<form method="post" action="password">
<table>
	<tr>
		<td>
			Current Password
		</td>
		<td>
			<input type="password" name="oldpassword">
		</td>
	</tr>
	<tr>
		<td>
			New Password
		</td>
		<td>
			<input type="password" class="newpassword" name="newpassword">
		</td>
	</tr>
	<tr>
		<td>
			Confirm Password
		</td>
		<td>
			<input type="password" class="confirmpassword" name="confirmpassword">
		</td>
	</tr>
</table>
<input type="submit" value="update"/> <div class="alerttext" style="display: none">Your passwords don't match!</div>
</form>

<script>
$('form').submit(function( event ) {
  if ($('.confirmpassword').val() == $('.newpassword').val()) {
    return;
  }
  
  $(".alerttext").show().delay(2000).fadeOut(1000);
  event.preventDefault();
});
</script>


