<h1>Next Desk Item Checkout</h1>
<p>Deskworker Checkout Page</p>

<div class="item-checkout">
  <div class="scan-box">
    <div class="scan-circle go">
      <span class="st">scan</span>
      <div class="scan-effect"></div>
    </div>
    <div class="scan-instructions">
      <div class="scan-command init">
        Scan an MIT ID to begin <em>checkout</em><br />
        Scan an item to <em>return</em>
      </div>
      <div class="scan-command checkout-kerberos">
        <div class="checkout-notice">Checkout item for <span class="kerberos"></span></div>
        Scan an item to <em>checkout</em>
      </div>
      <div class="scan-command restart">
        <input type="button" id="submit-barcode" value="Done">
      </div>
      <div class="scan-command first-checkout">
        This person is checking an item out for the first time
      </div>
      <div class="feedback-bar fail">
        Feedback Bar
      </div>
      <input class="hidden-textbox" type="text"/>
    </div>
  </div>
</div>

<p>
  <table class="displaytable">
  <tr>
    <th>Barcode</th>
    <th>Name</th>
    <th>Checked out by</th>
    <th>Days since checkout</th>
    <th>Remove</th>
  </tr>
  {{#each itemList}}
  <tr id="{{this.barcode}}-tr">
    <td>{{this.barcode}}</td>
    <td>{{this.name}}</td>
    <td id="{{this.barcode}}-borrower">{{this.borrower}}</td>
    {{#if this.overdue}}
      <td id="{{this.barcode}}-daydiff" class="overdue">{{this.daydiff}} (overdue)</td>
    {{else}}
      <td id="{{this.barcode}}-daydiff">{{this.daydiff}}</td>
    {{/if}}
    <td><a id="{{this.barcode}}-remove" class="remove">X</a></td>
  </tr>
  {{/each}}
  </table>
</p>


<script src="js/checkout.js"></script>
