<h1>Next Mailing Lists</h1>
<p>To join a list, click "Add Me" or "Send Request". To remove yourself from a list, click "Remove Me".</p>

<p><a href="https://groups.mit.edu/webmoira/" target="_blank">Manage your Moira email lists</a></p>

<p>General Next House lists</p>

<p>
	<a href="https://groups.mit.edu/webmoira/list/2016next" target="_blank">2016next</a><br>	
	<a href="https://groups.mit.edu/webmoira/list/2017next" target="_blank">2017next</a><br>
	<a href="https://groups.mit.edu/webmoira/list/next-forum" target="_blank">next-forum</a><br>
	<a href="https://groups.mit.edu/webmoira/list/next-forum-expo" target="_blank">next-forum-expo</a><br>
	<a href="https://groups.mit.edu/webmoira/list/laundry-room-is-about-to-explode" target="_blank">laundry-room-is-about-to-explode</a>
</p>

<p>Student group lists</p>

<p>
	<a href="https://groups.mit.edu/webmoira/list/next-make" target="_blank">next-make</a><br>
	<a href="https://groups.mit.edu/webmoira/list/next-sustain" target="_blank">next-sustain</a><br>
	<a href="https://groups.mit.edu/webmoira/list/nextgamers" target="_blank">nextgamers</a><br>
	<a href="https://groups.mit.edu/webmoira/list/nextservice2013" target="_blank">nextservice2013</a><br>
</p>
