<h1>Next Mailing Lists</h1>
<p>To join a list, click "Add Me" or "Send Request". To remove yourself from a list, click "Remove Me".</p>
<div class="email-special">
<p><a href="https://groups.mit.edu/webmoira/" target="_blank">Manage your Moira email lists</a></p>

<h2>General Next House lists</h2>

<p>
	<a href="https://groups.mit.edu/webmoira/list/next-forum" target="_blank">next-forum</a> - high traffic mailing list for the house, open to everyone<br />
	<a href="https://groups.mit.edu/webmoira/list/next-forum" target="_blank">next</a> - important updates from Next Exec, Housemaster, and administration
</p>

<h2>Student group lists</h2>

<p>
	<a href="https://groups.mit.edu/webmoira/list/next-make" target="_blank">next-make</a><br>
	<a href="https://groups.mit.edu/webmoira/list/next-sustain" target="_blank">next-sustain</a><br>
	<a href="https://groups.mit.edu/webmoira/list/nextgamers" target="_blank">nextgamers</a><br>
	<a href="https://groups.mit.edu/webmoira/list/nextservice2013" target="_blank">nextservice2013</a><br>
	<a href="https://groups.mit.edu/webmoira/list/next-code" target="_blank">next-code</a><br>
	<a href="https://groups.mit.edu/webmoira/list/next-bake" target="_blank">next-bake</a><br>
</p>
</div>