<section class="content-header">
    <h1>
        Next Mailing Lists
     </h1>
</section>

<section class="content">
    <p>To join a list, click "Add Me" or "Send Request". To remove yourself from a list, click "Remove Me".</p>

    <div class="email-special">
        <p><a href="https://groups.mit.edu/webmoira/" target="_blank">Manage your Moira email lists</a></p>
    </div>
        </hr>
        <h3>General Next House lists</h3>
        <p>
            <a href="https://groups.mit.edu/webmoira/list/next-forum" target="_blank">next-forum</a> - high traffic mailing list for the house, open to everyone
            <br />
            <a href="#">next</a> - important updates from Next Exec, Housemaster, and administration
            <br />
            <a href="https://groups.mit.edu/webmoira/list/next-laundry" target="_blank">next-laundry</a> - information about your own or other people's laundry
            <br />
        </p>
    </hr>
        <h3>Student group lists</h3>
        <p>
            <a href="https://groups.mit.edu/webmoira/list/next-bake" target="_blank">next-bake</a>
            <br>
            <a href="https://groups.mit.edu/webmoira/list/next-big-thing" target="_blank">next-big-thing</a>
            <br>
            <a href="https://groups.mit.edu/webmoira/list/next-code" target="_blank">next-code</a>
            <br>
            <a href="https://groups.mit.edu/webmoira/list/nextgamers" target="_blank">nextgamers</a>
            <br>
            <a href="https://groups.mit.edu/webmoira/list/next-make" target="_blank">next-make</a>
	    <br>
	    <a href="https://groups.mit.edu/webmoira/list/next-quest" target="_blank">next-quest</a>
            <br>
            <a href="https://groups.mit.edu/webmoira/list/nextservice2013" target="_blank">nextservice2013</a>
            <br>
            <a href="https://groups.mit.edu/webmoira/list/next-sustain" target="_blank">next-sustain</a>
            <br>
        </p>
</section>
