{{#unless user.firstName}}
<div class="alert alert-warning">Please update your <em>residence info</em>. Your guestlist will not work unless your information is valid.</div>
{{/unless}}

<section class="content-header">
      <h1>
        View/Edit Your Guestlist
      </h1>
      <br>
      <p>Guests must be MIT students. For more details about the Guestlist policy, please check the <a href="http://studentlife.mit.edu/studentlife.mit.edu/reslifeanddining/news/residencehallsecurity">MIT security policies</a></p>
</section>

<section class="content">

<form action='guestlist' method='post'>

<p>
<div class="row">
  <div class="col-lg-4 col-xs-6"><b>Fullname</b></div>
  <div class="col-lg-3 col-xs-6"><b>Kerberos</b></div>
</div>
</p>
<p>
  {{#each guests.guests}}
  <div class="row">
      <div class="col-lg-4 col-xs-6"><input class="form-control" type='text' name='guest{{this.index}}Name' value='{{this.name}}' /></div>
      <div class="col-lg-3 col-xs-6"><input class="form-control" type='text' name='guest{{this.index}}Kerberos' value='{{this.kerberos}}' /></div>
  </div>
  {{/each}}
</p>

{{#if guests.hasTempGuests}}
{{else}}
<span id="temp-guest-closed">
  <p><a id="temp-guest-add" class="btn btn-flat btn-default">Add temporary guests</a></p>
</span>
{{/if}}
<span id="temp-guest-open" style="display:none;">
  <h4> Temporary Guests <small>(resets every morning at 7AM)</small>
  </h4>
<div class="row">
  <div class="col-lg-4 col-xs-6"><b>Fullname</b></div>
  <div class="col-lg-3 col-xs-6"><b>Kerberos</b></div>
</div>
</p>
<p>
  {{#each guests.tempGuests}}
  <div class="row ">
      <div class="col-lg-4 col-xs-6"><input class="form-control" name='guest{{this.index}}Name' value='{{this.name}}' /></div>
      <div class="col-lg-3 col-xs-6"><input class="form-control" name='guest{{this.index}}Kerberos' value='{{this.kerberos}}' /></div>
  </div>
  {{/each}}
  </p>
</span>
<p>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <button class="btn btn-success col-lg-6 col-md-6 col-xs-12" type='submit' value='Save'>Save</button>
    </div>
  </div>
</p>

</form>

</section>


<script type="text/javascript">
  $(document).ready(function() {
{{#if guests.hasTempGuests}}
    $('#temp-guest-open').show();
{{else}}
    $('#temp-guest-add').on('click', function() {
      $('#temp-guest-closed').hide();
      $('#temp-guest-open').slideDown(500);
    });
{{/if}}
  });
</script>
