{{#unless user.firstName}}
<div class="todo">Please update your <em>residence info</em>. Your guestlist will not work unless your information is valid.</div>
{{/unless}}
<h1>View/Edit Your Guestlist</h1>
<p>Guests must be MIT students. For more details about the Guestlist policy, please check the <a href="http://studentlife.mit.edu/studentlife.mit.edu/reslifeanddining/news/residencehallsecurity">MIT security policies</a></p>
<form action='guestlist' method='post'>
<p>
<table>
  <tr>
    <th>Full Name</th><th>Kerberos</th>
  </tr>
  <tr>
    <td><input type='text' name='guest1Name' value='{{guests.guest1Name}}' /></td>
    <td><input type='text' name='guest1Kerberos' value='{{guests.guest1Kerberos}}'/></td>
  </tr>
  <tr>
    <td><input type='text' name='guest2Name' value='{{guests.guest2Name}}' /></td>
    <td><input type='text' name='guest2Kerberos' value='{{guests.guest2Kerberos}}'/></td>
  </tr>
  <tr>
    <td><input type='text' name='guest3Name' value='{{guests.guest3Name}}' /></td>
    <td><input type='text' name='guest3Kerberos' value='{{guests.guest3Kerberos}}'/></td>
  </tr>
  <tr>
    <td><input type='text' name='guest4Name' value='{{guests.guest4Name}}' /></td>
    <td><input type='text' name='guest4Kerberos' value='{{guests.guest4Kerberos}}'/></td>
  </tr>
  <tr>
    <td><input type='text' name='guest5Name' value='{{guests.guest5Name}}' /></td>
    <td><input type='text' name='guest5Kerberos' value='{{guests.guest5Kerberos}}'/></td>
  </tr>
</table>
</p>
<p>
<input type='submit' value='Save'>
</p>
</form>
