{{#unless user.firstName}}
<div class="todo">Please update your <em>residence info</em>. Your guestlist will not work unless your information is valid.</div>
{{/unless}}
<h1>Your Guestlist</h1>
<p>
  <table class="displaytable">
    <tr>
      <th width="240">Resident</th>
      <th>Guest 1</th>
      <th>Guest 2</th>
      <th>Guest 3</th>
    </tr>
    <tr>
      <td>Victor Hung (vhung)</td>
      <td>Bob</td>
      <td class="empty">(empty)</td>
      <td class="empty">(empty)</td>
    </tr>
    <tr>
      <td>Victor Hung (vhung)</td>
      <td>Bob</td>
      <td class="empty">(empty)</td>
      <td class="empty">(empty)</td>
    </tr>
    <tr>
      <td>Victor Hung (vhung)</td>
      <td>Bob</td>
      <td class="empty">(empty)</td>
      <td class="empty">(empty)</td>
    </tr>
  </table>
</p>