<div class="header">
      <span class="circle">N</span>
      <div class="appname">
        Next Resident Dashboard
      </div>
      <ul class="topnav">
        <li class="greeting">{{ user.firstName }} {{ user.lastName }}</li>
        <li><a href="home">Home</a></li>
        <!-- <li><a href="">Help</a></li> -->
        {{#if user}}
        <li><a href="logout">Logout</a></li>
        {{else}}
        <li><a href="login">Login</a></li>
        {{/if}}
      </ul>
      <div class="prettybar"></div>
    </div>