<head>
    <title>Next Resident Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    
    <!-- jonthronton's datetimepicker -->
  	<script type="text/javascript" src="/plugins/jonthornton/jquery.timepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/plugins/jonthornton/jquery.timepicker.css" />
  </head>