
<div class="content">
  <h1>Manage Your Guestlist</h1>
  <p>Guests must be MIT students. For more details about the Guestlist policy, please check the <a href="">MIT security policies</a></p>
  <form action='manage' method='post'>
  <p>
    <table>
      <tr>
        <th>Full Name</th><th>Kerberos</th>
      </tr>
      {{#each guests}}
      <tr>
        <td><input type='text' name='guest{{@index}}Name' value='{{ this.name }}' /></td>
        <td><input type='text' name='guest{{@index}}Kerberos' value='{{ this.kerberos }}'/></td>
      </tr>
      {{/each}}
    </table>
  </p>
  <p>
    <input type='submit' value='Save'>
  </p>
  </form>
</div>