{{#unless user.firstName}}
<div class="todo">Please update your <em>residence info</em>. Your guestlist will not work unless your information is valid.</div>
{{/unless}}
{{#if error}}
  <div class="error-msg">{{error}}</div>
{{/if}}
{{#if success}}
  <div class="success-msg">{{success}}</div>
{{/if}}
{{#each alreadyHere}}
<div class="warning-msg">Note: {{this.kerberos}} is already on the guest list of {{this.firstName}} {{this.lastName}}</div>
{{/each}}
<h1>View/Edit Your Guestlist</h1>
<p>Guests must be MIT students. For more details about the Guestlist policy, please check the <a href="http://studentlife.mit.edu/studentlife.mit.edu/reslifeanddining/news/residencehallsecurity">MIT security policies</a></p>
<form action='manage' method='post'>
<p>
<table>
  <tr>
    <th>Full Name</th><th>Kerberos</th>
  </tr>
  {{#each guests}}
  <tr>
    <td><input type='text' name='guest{{@index}}Name' value='{{ this.name }}' /></td>
    <td><input type='text' name='guest{{@index}}Kerberos' value='{{ this.kerberos }}'/></td>
  </tr>
  {{/each}}
</table>
</p>
<p>
<input type='submit' value='Save'>
</p>
</form>
