<div class="sidenav">
        <ul>
          <li class="item-header">Deskworker</li>
          <li><a href="allguests">Search and View Guestlists</a></li>
        </ul>
        <ul>
          <li class="item-header">Front Desk</li>
          <li><a href="manage">Manage Your Guestlist</a></li>
        </ul>
        <ul>
          <li class="item-header">Account</li>
          <li><a href="">Next Mailing Lists</a></li>
          <li><a href="">Change Password</a></li>
        </ul>
        <ul>
          <li class="item-header">Admin</li>
          <li><a href="">Manage Users</a></li>
        </ul>
      </div>