<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="http://next.mit.edu/images/NextEntrance.jpg" class="img-circle" alt="User Image">
            </div>
            {{#if user}}
            <div class="pull-left info">
                <p>{{user.firstName}} {{user.lastName}}</p>
                <!-- Status -->
                <a><i class="fa fa-circle text-success"></i> Online</a>
            </div>
            {{/if}}
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Resident Dashboard</li>
            <li class="treeview active">
                <a><i class="fa fa-bank"></i> <span>Front Desk</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu menu-open" style="display:block">
                    <li><a href="/guestlist"><i class="fa fa-list"></i> View/Edit Your Guestlist</a></li>
                    <li><a href="/viewitems"><i class="fa fa-paper-plane"></i> Items for Checkout</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a><i class="fa fa-home"></i> <span>House</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu menu-open" style="display:block">
                    <li><a href="/roomreservations"><i class="fa fa-calendar-plus-o"></i> Room Reservations</a></li>
                    <li><a href="/emaillists"><i class="fa fa-envelope"></i> Mailing Lists</a></li>
                    <li><a href="/minutes"><i class="fa fa-book"></i> Meeting Minutes</a></li>
                    <li><a href="http://next.mit.edu/budget" target="_blank"><i class="fa fa-dollar"></i> House Budget</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a><i class="fa fa-user"></i> <span>Account</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu menu-open" style="display:block">
                    <li><a href="/residentinfo"><i class='fa fa-info-circle'></i> Residence Info</a></li>
                    <li><a href="/password"><i class="fa fa-lock"></i> Change Password</a></li>
                </ul>
            </li>
            {{#if permissions.VIEW_GUEST_LISTS}}
            <li class="treeview">
                <a><i class="fa fa-link"></i> <span>Deskworker</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/allguests"><i class='fa fa-book'></i> Search and View Guestlists</a></li>
                    <li><a href="/checkout"><i class='fa fa-paper-plane'></i> Checkout Items</a></li>
                </ul>
            </li>
            {{/if}} {{#if permissions.EDIT_RESERVATIONS}}
            <li class="treeview">
                <a><i class="fa fa-user-secret"></i> <span>Next Exec</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/users"><i class="fa fa-users"></i> Manage Users</a></li>
                    <li><a href="/managereservations"><i class='fa fa-calendar-check-o'></i> Manage Reservations</a></li>
                </ul>
            </li>
            {{else}} {{#if permissions.MAKE_USERS_DESKWORKERS}}
            <li class="treeview">
                <a><i class="fa fa-user-secret"></i> <span>Desk Captain</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/users"><i class="fa fa-users"></i> Manage Users</a></li>
                </ul>
            </li>
            {{/if}} {{/if}}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
