<iframe src="https://www.google.com/calendar/embed?src=87a94e6q5l0nb6bfphe3192uv8%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<form action="reserve" method="post">
    <p>Start: <input type="datetime-local" name="start"></p>
    <p>End: <input type="datetime-local" name="end"></p>
    <p>Room: <input type="text" name="room"></p>
    <p>Reason:</p> <textarea name="reason" rows="3" cols="60"></textarea>
    <input type="submit">
</form>
