<section class="content-header">
    <h1>
        Items at Desk
        <small>Below is a list of items you can checkout from Desk!</small>
      </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Front Desk</a></li>
        <li class="active">Items for Checkout</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
            <div class="box-header">
              <h3 class="box-title">Items</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th><b>Name</b></th>
                            <th><b>Status</b></th>
                        </tr>
                        {{#each items}}
                        <tr id="{{this.barcode}}-tr">
                            <td>{{this.name}}</td>
                            <td>
                                {{#if this.borrower}}
                                <span class="label label-danger">Checked Out</span> {{else}}
                                <span class="label label-success">Available</span> {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
