<h1>Review Funding Applications</h1>
<p></p>
<p> Approve/deny applications in the order they are listed. Be sure to include reason if application is denied.</p>
<p></p>
{{#if success}}
  <div class="success-msg">{{success}}</div>
{{/if}}
{{#if error}}
  <div class="error-msg">{{error}}</div>
{{/if}}
<p></p>
  <div><a href="reviewapps">Refresh</a></div>
<p></p>
<hr size="1" />
<p></p>
<h3>Pending Applications</h3>
<p>
<form action='reviewapps' method='post'>
  <table class="displaytable">
    <tr>
      <th>Applicant ID</th>
      <th>Group members</th>
      <th>Project Description</th>
      <th>Reasons for Funding</th>
      <th>Community Benefit</th>
      <th>No. people involved</th>
      <th>Amount Requested ($)</th>
      <th>Cost Breakdown</th>
      <th>Submitted on</th>
      <th>Approve/Deny</th>
      <th>Reason (if denied)</th>
    </tr> 
    {{#each result}} 
	<tr id="{{this.nextUser}}-tr">
	  <td>{{this.nextUser}}</td>
	  <td>{{this.groupMembers}}</td>
	  <td>{{this.projectDescription}}</td>
	  <td>{{this.reasonForFunding}}</td>
	  <td>{{this.communityBenefit}}</td>
          <td>{{this.peopleInvolved}}</td>
          <td>{{this.requestedAmount}}</td>
          <td>{{this.costBreakdown}}</td>     
          <td><input name='timestamp{{@index}}' value={{this.dateTime}} readonly /></td>
          <td><input type='radio' name='decision{{@index}}' value='approve'>Approve <input type='radio' name='decision{{@index}}' value='deny'>Deny</td>
          <td><textarea name='reason{{@index}}' rows="3" cols="15" value='{{ this.reason }}'></textarea>
              <input type='submit' value='Submit'>
          </td> 
	</tr>
     {{/each}}
  </table>



</p>
